.link2 {
    border-bottom: 2px solid #2608e9;
    border-radius: 10px;
    background-color: #cac8c8;
}

/* .container {
    border: 0px;
}
*/

table, h1 {
    text-align: center;
}

footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
}